*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
a{
    display: block;
}
p{
    display: inline-block;
}
/* a tag by default inline elements show karta hai , isliye display property = block
   p tag by default block elements show karta hai , isliye display property = inline , inline-block 
*/
#car1{
    height:100px;
    width: 100px;
    background-color:red;
    display:inline-block;

}
#car2{
    height:100px;
    width: 100px;
    background-color:blue;
    display: inline;
   
}
#car3{
    height:100px;
    width: 100px;
    background-color:yellow;
}